@font-face{
    font-family: Roboto;
    src: url("../assets/fonts/Roboto-Medium.ttf");
}

.navegador{
    font-family: Roboto;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(100%, 30px, 60px);
    align-items: center;
    /*background-image: linear-gradient(#AE2519 40%, black 90%);*/
    background-image: url(../assets/images/fondo1.jpg);
}

.navegador .logo{
    border-radius: 15px;
    margin: 5px;
    grid-column: 1/3;
    animation-name: zoomIn;
    animation-duration: 2s;
    animation-iteration-count: 2s;
}

.navegador .titulo-subtitulo{
    display: flex;
    flex-direction: column;    
    grid-column: 3/6;  
    animation-name: zoomIn;
    animation-duration: 2s;
    animation-iteration-count: 2s;  
}

.titulo-h1{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-bottom: 0%;
    color: white;
}

.titulo-h2{
    display: flex;
    justify-content: end;
    align-items: flex-start;
    margin-top: 0%;
    color: white;
}

.navegador .iconos{
    font-size: x-large;
    padding: 10px;
    grid-column: 7/9;
    grid-row: 3/4;
    display: flex;
    justify-content: space-around;
    color: white;
}

.navegador .lista-secciones{
    margin-top: 35px;
    margin-bottom: 35px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    grid-row: 3/4;
    grid-column: 1/6;
}

.lista-secciones a{
    margin: 0%;
}

.lista-secciones a:active{
    background-color: #AE2519;
}

.separador{
    border-top: 3px solid #AE2519;
}

.bloque-seccion{
    font-family: Roboto;
    font-size: x-large;
    color: white;
    block-size: 30px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url("../assets/images/chapa.jpg");
    display: flex;
    align-items: center;
}

main{
    background-image: url(../assets/images/fondo1.jpg);
}

.container{
    display: flex;
    justify-content: center;
}
.carousel-item{
    max-width: 700px;
    margin-top: 5px;
}
/*
.contenedor-imagen{
    background-image: radial-gradient(grey 10%, black);
    display: flex;
    justify-content: center;
    }

.imagen-principal{
    border-color: black;
    border-radius: 50px;        
    }
*/
i{cursor: pointer;}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 30px;
    cursor: pointer;
    }

.contenedor-videos{
    margin: 20px; 
    margin-bottom: 0px;
    }

.video1{
    margin-right: 30px;
    margin-bottom: 10px;
    border-radius: 50px;
}

.video2{
    margin-right: 30px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.contenedor-imagenes{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url(../assets/images/fondo1.jpg);
}

.card{
    margin-bottom: 20px;
}

.color-fondo{
    background-image: url(../assets/images/fondo1.jpg);
}

.color-fondo p{
    color: white;
}

.color-fondo h3{
    color: white;
}


.quienes-somos{
    margin: 0px;
    padding-left: 5px;
}

h3{
    padding-left: 5px;
}

.formulario{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(9,1fr);
}

.formulario h4{
    color: #AE2519;
    grid-row: 1/2;
    grid-column: 1/4;
    display: flex;
    align-items: center;
}

.form-grid{
    background-image: url(../assets/images/fondo1.jpg);
    grid-column: 1/7;
    grid-row: 2/10;
    justify-content: space-around;
}

.checkbox{
    padding-top: 15px;
}

.piedepagina{
    display: grid;
    grid-template-areas: "derechos  seguime iconos";
    align-items: center;
    background-image: linear-gradient(black 10%, #AE2519 40%);
    font-family: Roboto;
    font-weight: bold;
    block-size: 40px;
}

.piedepagina .seguime{
    animation-name: headShake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.seguime h5{
    margin-top: 5px;
    margin-bottom: 0%;
}

.derechos p{
    margin-bottom: 0%;
    margin-top: 5px;
}

.piedepagina .iconos{
    font-size: x-large;
    margin-top: 5px;
}