%animacion{
    animation-name: zoomIn;
    animation-duration: 2s;
    animation-iteration-count: 2s;
}

.navegador {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-image: url(../assets/images/fondo1.jpg);
  .logo-titulo{
    display: flex;
    flex-direction: row;
    width: 100%;
    @extend %animacion;
    .logo {
      border-radius: 15px;
      margin: 5px;
      @extend %animacion;
    }
    .titulos{
      display: flex;
      flex-direction: column;
      align-items: end;
      margin-right: 35px;
      width: 100%;
      color: white;
      .titulo-h1 {
        display: flex;
        align-items: flex-end;
        margin-bottom: 0%;
      }
      .titulo-h2 {
        display: flex;
        align-items: flex-start;
        margin-top: 0%;
      }
    }
  }
  .secciones-iconos{
    display: flex;
    flex-direction: row;    
    width: 100%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    }
    .secciones{
      display: flex;
      flex-direction: row;
      width: 70%;
      justify-content: space-around;
      margin: 0%;
      padding: 0%;
    }
  .iconos {
    font-size: x-large;
    padding-left: 60px;
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    color: white;
  }
  a {
    margin: 0%;
    &:active {
    background-color: $bordo;
    }
  }
}
li{
  list-style: none;
}
i{cursor: pointer;}

