.contenedor-imagenes{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url(../assets/images/fondo1.jpg);
    .card{
        margin-bottom: 20px;
        max-height: 270px;
        .card-img-top{
            height: 140px;
        }
    }
}
