@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Medium.ttf");
}
.navegador .logo-titulo .logo, .navegador .logo-titulo {
  animation-name: zoomIn;
  animation-duration: 2s;
  animation-iteration-count: 2s;
}

.navegador {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-image: url(../assets/images/fondo1.jpg);
}
.navegador .logo-titulo {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.navegador .logo-titulo .logo {
  border-radius: 15px;
  margin: 5px;
}
.navegador .logo-titulo .titulos {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 35px;
  width: 100%;
  color: white;
}
.navegador .logo-titulo .titulos .titulo-h1 {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0%;
}
.navegador .logo-titulo .titulos .titulo-h2 {
  display: flex;
  align-items: flex-start;
  margin-top: 0%;
}
.navegador .secciones-iconos {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.navegador .secciones {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
  margin: 0%;
  padding: 0%;
}
.navegador .iconos {
  font-size: x-large;
  padding-left: 60px;
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.navegador a {
  margin: 0%;
}
.navegador a:active {
  background-color: #AE2519;
}

li {
  list-style: none;
}

i {
  cursor: pointer;
}

.bloque-seccion {
  font-family: Roboto;
  font-size: x-large;
  color: white;
  block-size: 30px;
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: url("../assets/images/chapa.jpg");
  display: flex;
  align-items: center;
}

.separador {
  border-top: 3px solid #AE2519;
}

body {
  background-image: url(../assets/images/fondo1.jpg);
}
body .container {
  display: flex;
  justify-content: center;
}
body .container .carousel-item {
  max-width: 700px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.novedades {
  display: flex;
  flex-direction: row;
  color: white;
  max-height: 229px;
}
.novedades img {
  width: 40%;
  margin: 10px;
}
.novedades p {
  width: 60%;
  margin: 10px;
  display: flex;
  align-items: center;
  font-size: larger;
}

.marcas {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  height: 100%;
}
.marcas .mc {
  max-width: 120px;
  height: auto;
  flex-wrap: nowrap;
}
.marcas :nth-child(1) {
  padding-bottom: 15px;
}

.contenedor-imagenes {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-image: url(../assets/images/fondo1.jpg);
}
.contenedor-imagenes .card {
  margin-bottom: 20px;
  height: 320px;
}
.contenedor-imagenes .card .card-img-top {
  height: 140px;
}

.color-fondo {
  background-image: url(../assets/images/fondo1.jpg);
}
.color-fondo h3 {
  color: white;
  margin-left: 10px;
}
.color-fondo .quienes-somos {
  margin: 0px;
  padding-left: 5px;
  color: white;
  margin: 10px;
}
.color-fondo .contenedor-videos {
  margin: 20px;
  margin-bottom: 0px;
}
.color-fondo .contenedor-videos .video1 {
  margin-right: 30px;
  margin-bottom: 10px;
  border-radius: 50px;
}
.color-fondo .contenedor-videos .video2 {
  margin-right: 30px;
  margin-bottom: 10px;
  border-radius: 50px;
}
.color-fondo .contenedor-videos .video3 {
  margin-right: 30px;
  margin-bottom: 10px;
  border-radius: 50px;
}
.color-fondo .contenedor-videos .video4 {
  margin-right: 30px;
  margin-bottom: 10px;
  border-radius: 50px;
}

legend {
  color: #AE2519;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
fieldset .formulario label {
  color: white;
}
fieldset h5 {
  color: white;
}
fieldset .form-check {
  border: 0px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
}
fieldset .form-check label {
  color: white;
}
fieldset .form-check .checkbox {
  padding-top: 15px;
}

.piedepagina {
  display: grid;
  grid-template-areas: "derechos  seguime iconos";
  align-items: center;
  background-image: linear-gradient(black 10%, #AE2519 40%);
  font-family: Roboto;
  font-weight: bold;
  block-size: 40px;
}
.piedepagina .seguime {
  animation-name: headShake;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.piedepagina .seguime h5 {
  margin-top: 5px;
  margin-bottom: 0%;
}
.piedepagina .derechos p {
  margin-bottom: 0%;
  margin-top: 5px;
}
.piedepagina .iconos {
  font-size: x-large;
  margin-top: 5px;
}

/*# sourceMappingURL=estilos.css.map */
